* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #0f20e5;
}

main {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

main > header {
    width: 100%;
    padding: 50px 50px 100px 50px;
    background-color: black;
    color: white;
}

header > nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
}

.logo > div {
    margin-right: 8px;
    padding: 0 5px;
    border: white 5px solid;
    font-size: 30px;
    font-weight: bold;
}

.logo > p {
    font-size: 14px;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}

.nav > a {
    color: white;
    text-decoration: none;
}

header > section {
    text-align: center;
    padding: 150px 0 0;
}

header > section > button {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #0f20e5;
    cursor: pointer;
}

article {
    text-align: center;
    padding: 30px 0;
    margin: 0 20px;
    border-bottom: 2px solid gray;
}

article:last-child {
    border-bottom: none;
}

article > span {
    width: 100px;
    height: 2px;
    display: inline-block;
    border-top: 2px solid #0f20e5;
}

article > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {

}

@media screen and (max-width: 1200px) {
    main {
        width: 100%;
    }
}
